#dishes {
  width: 67%;
}

#selection {
  position: fixed;
  z-index: 8;
  float: right;
  top: 0;
  right: 0;

  width: 33%;
  height: 100%;

  padding-top: 64px;

  background-color: #8B2301;
}

#dishes > div {
  display: inline-block;
  margin: 0 auto;
}

#dishes > div > h1 {
  margin-left: 8px;

  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 32px;
  line-height: 48px;
}

.dish {
  position: relative;
  display: inline-block;

  margin: 8px;

  height: 25%;
  width: 22.5%;
  min-width: 250px;
  min-height: 200px;

  float: left;

  overflow: hidden;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.dish_shadow {
  position: absolute;
  top: 0;

  width: 100%;
  height: 48px;

  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.dish_shadow > p {
  margin-left: 8px;

  color: white;

  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 40px;
}

#lammkott { background-image: url("../img/dishes/lammkott.jpg"); }
#flaskfile { background-image: url("../img/dishes/flaskfile.jpg"); }
#hamburgare { background-image: url("../img/dishes/hamburgare.jpg"); }
#kycklingspett { background-image: url("../img/dishes/kycklingspett.jpg"); }
#oxfile { background-image: url("../img/dishes/oxfile.jpg"); }
#villegryta { background-image: url("../img/dishes/villegryta.jpg"); }
